<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>-FINALIZAR COMPRA-</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-content>
    <ion-list>
      <ion-list>
        <h1><b>INGRESE  SUS DATOS POR FAVOR</b></h1>
        <ion-item>
          <ion-input label="Nombre" placeholder=""   class="barrita"></ion-input>
        </ion-item>
  
         <ion-item>
        <ion-input label="Apellido" placeholder=""  class="barrita"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Email" type="email" placeholder=""  class="barrita"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="DNI o CUIL" type="tel" placeholder="" class="barrita"></ion-input>

        </ion-item>
      </ion-list>
    </ion-list> 
    


    <div>
      <button  class="agregaralcarrito"    routerLink="/home"> <b> 🤍 ENVIAR</b> </button>
    </div>
  </ion-content>     
