<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{producto.nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{producto.nombre}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>




  <img src="{{producto.imagen}}" alt="">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> ${{producto.precio}}</ion-card-title>
      <ion-card-subtitle>{{producto.nombre}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>  {{producto.detalle}}</ion-card-content>
  </ion-card>
 
  <app-contador-cantidad (cantidadCambiada)="cantidad=$event"></app-contador-cantidad>
  <ion-button fill="clear" shape="round" expand="block" (click)="onAgregarAlCarritoClicked()" class="agregaralcarrito"> <b>🤍      AGREGAR AL CARRITO </b></ion-button>


<div>

  
</div>

<div class="espacio">


</div>






<footer>
  <ion-footer>
    <form>
      <div class="prefooter">
        <h2>¡Dejanos tu mail para promociones únicas!</h2><br>
        <form action="">
          <input class="barrita" type="text" placeholder="Ingrese su mail por favor">
          <button class="btnenviar" type="submit"  >Enviar</button>
        </form>


        <div class="footerContainer">

         
          <div class="img">
            
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/custom@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png "
                alt=""></a>
            <a><img class="medios-pago"
                src=" https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src=" https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/other@2x.png"
                alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/branch@2x.png" alt=""></a>
            <a><img class="medios-pago"
                src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/cash@2x.png"
                alt=""></a>
          </div>

          <h2>Aceptamos todos los medios de pago</h2>
          <h2>----Prune 2023 Todos Los derechos reservados----</h2>
          <h2>--Terminos y condiciones--</h2>
        </div>
      </div>
    </form>
  </ion-footer>
</footer>


</ion-content>
