<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div class="contactanos">
  <h1>CONTACT US
  </h1>

  <H2>PRUNE</H2>
  <p>¡¡Gracias por llegar hasta aquí!!</p>
  <p>Para una atención más personalizada podes comunicarte con nosotros a través de nuestro Whatsapp presinando este botón</p>

</div>





<div id="contenedorbtn">
  
  <button class="btn">
    <a routerLink="/home" routerLinkActive="Contactanos">ir al inicio</a>
    </button>
    

</div>






</ion-content>


