.agregaralcarrito{
    background-color: black;
    border-radius: 10px;
    width: 290px;
    height: 40px;
  margin-top: 30px;
display: inline-block;
font-size: 15px;
left: 50px;
color: white;
position: absolute;
}


ion-card{
    background-color: rgb(236, 222, 205);
}